
.clear{
	clear:both;
}

.btn, .button{
	transition:all 0.5s;
}

.r-border{
	border-right:1px solid #ccc;
}

.t-border{
	border-top:1px solid #ccc;
}

.b-border{
	border-bottom:1px solid #ccc;
}

.l-border{
	border-left:1px solid #ccc;
}

.login, .register, .forgot, .user-dashboard{
	margin-top:20px;
	min-height: 330px;
	padding:16px;
}

.login a, .register a, .forgot a, .user-dashboard a{
	text-decoration: none;
	font-size: 14px;
}

.user-dashboard .user-image{
	width:70%;
	border-radius: 50%;
	margin:0 auto;
	top:0;
}

.user-dashboard .user-name{
	margin-top: 16px;
	font-size: 18px;
	font-style: bold;
}

.user-dashboard .user-email{
	font-style: italic;
	color:#6e6e6e;
}

.user-dashboard p:last-child{
	margin: 24px auto;
}